@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Staatliches&display=swap");

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

body header {
  height: 100vh;
  background: url("https://fluxick.github.io/overcoffee/img/background.jpg") no-repeat center center;
  max-width: 1920px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: auto;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.inner_header h1 {
  font-family: "Montserrat Alternates";
  font-size: 72px;
  font-weight: 500;
}

.logo {
  height: 100px;
  width: 100px;
  background: url("https://fluxick.github.io/overcoffee/img/logo.svg") no-repeat center center;

}

#menu_button {
  background: none;
  color: white;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  position: relative;
  transition: .3s linear;
}

#menu_button:after,
#menu_button:before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  bottom: -15px;
  visibility: hidden;
  transition: .05s ease-out;
}

#menu_button:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

#menu_button:hover:after,
#menu_button:hover:before {
  visibility: visible;
  bottom: 0;
}

#menu_button:hover:before {
  transition-delay: .1s;
}

#menu_button.hidden {
  transform: translateY(-110px);
}

nav {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transform: translateX(100%);
  transition: .3s ease-in-out;
}

nav.active {
  transform: translateX(0);
}

nav a {
  font-size: 36px;
  font-family: "Roboto Mono";
  font-weight: 500;
  color: white;
  margin: 15px 15px;
  transition: color .1s linear;
}

nav a:hover {
  color: #f89626
}

nav button {
  position: absolute;
  top: 67px;
  left: 15px;
  transform: scale(-1);
  background: white;
  height: 40px;
  width: 34px;
  background: url('https://fluxick.github.io/overcoffee/img/arrow.png');
  transition: .1s linear;
}

nav button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 0 1px rgba(187, 44, 44, 0.5))
}

.intro {
  height: 100%;
}

.inner_intro {
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
}

.inner_intro h3 {
  font-size: 64px;
  font-weight: 500;
  font-family: "Roboto Mono";
}

.inner_intro p {
  width: 400px;
  margin: 25px 0;
  font-weight: 500;
  font-style: 24px;
  font-family: "Roboto Mono";
}

.inner_intro button {
  background: #ff9900;
  box-shadow: inset 1px 1px 15px #ff0000;
  color: #9b4444;
  font-size: 48px;
  font-family: "Staatliches";
  padding: 0 90px;
  border-radius: 10px;
  transition: .1s linear;
}

.inner_intro button:hover {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #ff0000);
  cursor: pointer;
}