@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Staatliches&display=swap');

body {
    header {
        height: 100vh;
        background: url('https://fluxick.github.io/overcoffee/img/background.jpg');
 
        
        .container {
            max-width: 1170px;
            margin: auto;

            .inner_header {
                display: flex;
                justify-content: space-between;
                padding-top: 35px;
                position: relative;
                overflow: hidden;

                &.active {
                    &>h1 {
                        transform: translate(-250%, 45%)
                    }

                    nav {
                        transform: translateX(-500%);

                        button {
                            &:hover {
                                .arrow {
                                    transform: scaleX(-1) translateX(-5px);
                                }
                            }

                            .arrow {
                                transform: scaleX(-1);
                            }
                        }
                    }
                }

                &>img {
                   z-index: 3;
                }

                &>h1 {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 45%);
                    color: white;
                    font-size: 72px;
                    font-weight: 500;
                    font-family: "Montserrat Alternates", sans-serif;
                    transition: .7s linear;
                    z-index: 2;
                }

                nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: relative;
                    transition: .7s linear;

                    button {
                        background: none;
                        display: flex;
                        align-items: center;
                        margin-top: 12px;

                        &.opening {

                            &:hover {

                                span:after,
                                span:before {
                                    height: 0;
                                }

                                span {
                                    border: none;
                                }
                            }
                        }

                        &:hover {
                            span {
                                cursor: pointer;
                                border-bottom: .5px solid white;
                            }

                            span:after,
                            span:before {
                                visibility: visible;
                                bottom: 0px;
                            }

                            .arrow {
                                transform: translateX(-5px);
                                cursor: pointer;
                            }
                        }

                        .arrow {
                            transition: .15s linear;
                            margin-top: 5px;
                            width: 40px;
                            height: 40px;
                            background: url('https://fluxick/overcoffee/ab6477b0c18d96f3496ecefa2c6cd401e9ac29c4/img/arrow.svg');        
                        }

                        span {
                            position: relative;
                            color: white;
                            font-size: 36px;
                            font-weight: 500;
                            font-family: "Montserrat", sans-serif;
                            margin-left: 10px;
                            transition: all .15s linear;
                            display: block;

                            &:after,
                            &:before {
                                content: '';
                                display: block;
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                background: white;
                                right: 0;
                                bottom: -15px;
                                visibility: hidden;
                                transition: .1s linear;
                            }

                            &:before {
                                transition-delay: .05s;
                            }
                        }
                    }

                    .nav_menu {
                        position: absolute;
                        display: flex;
                        left: 100%;
                        margin-top: 10px;

                        a {
                            margin-left: 30px;
                            font-size: 36px;
                            font-weight: 500;
                            font-family: "Montserrat", sans-serif;
                            color: white;
                            transition: .1s linear;

                            &:hover {
                                cursor: pointer;
                                color: rgb(219, 139, 34);
                            }
                        }
                    }
                }
            }

            .intro {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                max-width: 1170px;
                width: 100%;
                top: 50%;
                transform: translate(0, -50%);

                .inner_intro {
                    text-align-last: left;
                    font-family: "Roboto Mono", sans-serif;
                    font-weight: 500;
                    color: white;

                    h3 {
                        font-size: 64px;
                    }

                    p {
                        max-width: 450px;
                        font-size: 20px;
                        margin: 25px 0;
                    }

                    button {
                        background: orange;
                        font-family: "Staatliches", sans-serif;
                        font-size: 48px;
                        color: #9b4444;
                        padding: 5px 100px;
                        border-radius: 10px;
                        box-shadow: inset 5px 5px 10px rgba(255, 0, 0, .5);
                        transition: .15s linear;

                        &:hover {
                            background: #9b0a0a;
                            color: white;
                            box-shadow: inset 1px 1px 10px rgb(42, 1, 1);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}